
<style>
</style>
<svg width= "960" height= "700"></svg>
<script src="//d3js.org/d3.v4.min.js"></script>
<body>
    <script>
        d3.csv("/csv/coffee.csv", function(error, data) {
        if (error) throw error;
        });
    
    </script>
</body>
