<!DOCTYPE html>
<script src="http://d3js.org/d3.v4.min.js"></script>

<center><h3> This is what the data looks like in the csv<h3>
<h4>salesperson,sales<br>
Bob,33<br>
Robin,12<br>
Anne,41<br>
Mark,16<br>
Joe,59<br>
Eve,38<br>
Karen,21<br>
Kirsty,25<br>
Chris,30<br>
Lisa,47<br>
Tom,5<br>
Stacy,20<br>
Charles,13<br>
Mary,298</h4><br></center>





<center><h3>This is a simple D3 Bar Chart<h3></center>


<html>
<body>
<center>

<script src = "/js/first_page.js">
</script>
<form method= "post" action= "/to_second_page">
    <input type= "submit" value = "Animated Bar Chart">
</form>
<form method= "post" action= "/usamap">
    <input type= "submit" value = "USA Map">
</form>

<form method= "post" action= "/fitbit">
    <input type= "submit" value = "FitBit">
</form>

<form method= "post" action= "/rXdata">
    <input type= "submit" value = "RX Data">
</form>
</center>
</body>
</html>