<!DOCTYPE html>
<script src="http://d3js.org/d3.v4.min.js"></script>

<center><h3> This is what the data looks like in the csv<h3>
<h4>year,value<br>
2011,45<br>
2012,47<br>
2013,52<br>
2014,70<br>
2015,75<br>
2016,78</h4><br></center>





<center><h3>This is a simple D3 Bar Chart<h3></center>
<style>
  <style>
         
 </style>

<html><body><center>
 <svg id = "svg1" width="600" height="500"></svg>   <%# this is where you set the svg. its the box size that you want to show on your screen  %>

<script src="/js/first_page.js">

</script>
<form method= "post" action= "/to_second_page">
    <input type= "submit" value = "Animated Bar Chart">
</form>
<form method= "post" action= "/usamap">
    <input type= "submit" value = "USA Map">
</form>

<form method= "post" action= "/fitbit">
    <input type= "submit" value = "FitBit">
</form>
</center>
</body>
</html>