<!DOCTYPE html>
<meta charset="utf-8">
<script src="https://d3js.org/d3.v4.min.js"></script>
<style>
body {
  margin: 15px;
  background-color: #F1F3F3    
}
.bar {
	fill: #6F257F;
}
.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.x path {
	display: none;
}
.toolTip {
	position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
</style>

<body>
</body>
<div id="second">
<script src="/js/fith_page.js">

</script>
</div>

<form method= "post" action= "/to_sixth_page">
    <input type= "submit" value = "Next Page">
</form>
