<!DOCTYPE html>
<html lang="en">
<head>
    
    <style>
        #container {
            height: 500px;
            width: 500px;
            background-color: orange;

        }
    </style>
<script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body id="container">
    <p> </p>
    <p> </p>
    <p> </p>
    <script>
    d3.csv("https://data.consumerfinance.gov/api/views/s6ew-h6mp/rows.csv?accessType=DOWNLOAD", function(data) {
    for (var i = 0; i < data.length; i++) {
        console.log(data[i]);
        //console.log(data[i].Age);
    }
});

</script>
</body>

</html>
