/* this is bbar one */

.bar1 {
    fill: steelblue;
}

.highlight1 {
    fill: orange;
}

.bg_gr {
    background-color: blue;
}


/* this is thrid page */

.line1 {
    fill: none;
    stroke: rgb(65, 243, 11);
    stroke-width: 2px;
}


/* this is fourth pag */

.axis--x1 path {
    display: none;
}

.line2 {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.bar3 {
    fill: #6F257F;
}


/* this is the fifth page */

.axis path,
.axis line {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.x path {
    display: none;
}

.line3 {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}


/* this is interactive pie and bar */

path {
    stroke: #fff;
}

path:hover {
    opacity: 0.9;
}

rect:hover {
    fill: red;
}

.axis {
    font: 10px sans-serif;
}

.legend tr {
    border-bottom: 1px solid grey;
}

.legend tr:first-child {
    border-top: 1px solid grey;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.legend {
    margin-bottom: 76px;
    display: inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}

.legend td {
    padding: 4px 5px;
    vertical-align: bottom;
}

.legendFreq,
.legendPerc {
    align: right;
    width: 50px;
}


/* this is fitbit */

.line4 {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 80px;
    height: 55px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    border-color: black;
    border-width: 10px;
    pointer-events: none;
}